* {
    box-sizing: border-box;
}

screen {

    100%;
}

section {
    max-width: 1200px;
    margin: 0 auto;
}

video {

    width: 100%;
}

html,
body {
    height: 100%;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;

}

.hidden {

    display: none;
}


.menuknap {
    transition-delay: 10s;
    width: 10px;
    height: 10px;
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: black;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
}

p {
    font-size: 1rem;

}

.hover {

    transition: all .3s ease-in-out;
}


a:hover {
    opacity: 0.7;

}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

a {
    color: black;
    padding: 0rem 2rem;
    margin-top: 1rem;

}


.link {

    text-align: center;
    transform: scale(1.05);

}

footer {
    background-color: whitesmoke;
    text-align: left;
    padding: 0rem 0rem 0rem 5rem;

    /*    margin: 0rem 0rem 0rem 5rem;*/

}

/***************forside siden***************/
.topnav {
    height: 4rem;
}

.menu1 {
    position: relative;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    margin: 0 1rem 1rem 1.5rem;
}

.menu1 a:hover {
    color: black;
}

.menu1 a::before {
    content: '';
    display: block;
    height: 0.2rem;
    background-color: black;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.menu1 a:hover::before {
    width: 10%;
}

.parallax5 {
    background-image: url(img/egentegning.png);
    width: 100%;
    height: 250px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;

}

.forsideh {
    color: white;
    font-family: cursive, verdana;
    text-decoration: underline;
}

.knapwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.knap1,
.knap2 {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 0.1rem solid black;
    margin: 2rem 1.5rem;
    width: 7rem;
    height: 3rem;
    background-color: darkslategray;
    padding: 1rem 3rem 1rem 3rem;
    text-decoration: none;
    transition: 0.5s ease;

}

.knap1 a,
.knap2 a {
    color: white;
    margin: 0;
    padding: 0;


}

.knap1:hover {
    background-color: grey;
    color: white;
    opacity: 0.9;
}

.knap2:hover {
    background-color: grey;
    color: white;
    opacity: 0.9;
}




/*forside siden*/

/*Portfolio siden*/

.parallax {
    background-image: url(img/splash.png);
    width: 100%;
    height: 150px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;

}

.overskrift {

    text-align: center;
}

#sectionwrapper,
#sectionwrapper2 {


    display: flex;
    justify-content: center;
    min-height: auto;
    margin-top: 0;

}


.box1 {

    display: flex;
    width: 8rem;
    height: 8rem;
    background-color: black;
    border: 1px solid black;
    padding: 1rem 1rem 1rem 1.3rem;
    margin: 1rem 0rem 0rem 1rem;
}

.box2 {

    display: flex;
    width: 8rem;
    height: 8rem;
    background-color: black;
    border: 1px solid black;
    padding: 1rem 1rem 1rem 1.3rem;
    margin: 1rem 0rem 0rem 1rem;
}

.box3 {
    display: flex;
    width: 8rem;
    height: 8rem;
    background-color: black;
    border: 1px solid black;
    padding: 1rem 1rem 1rem 1.3rem;
    margin: 1rem 0rem 0rem 1rem;
}

.box4 {
    display: flex;
    width: 8rem;
    height: 8rem;
    background-color: black;
    border: 1px solid black;
    padding: 1rem 1rem 1rem 1.3rem;
    margin: 1rem 0rem 0rem 1rem;
}


a:hover {
    color: grey;
    transform: scale(1.10);
}

.box1:hover {

    transform: scale(1.1);
}

.box2:hover {

    transform: scale(1.1);
}

.box3:hover {

    transform: scale(1.1);
}

.box4:hover {

    transform: scale(1.1);
}

.t1,
.t2,
.t3,
.t4 {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;
    padding:

}

/**************Portfolio siden************/

/************forside****************/



/*************Grundlæggende Web*************/

.webdesignwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.column1 {
    flex-basis: 100px;
    flex-grow: 1;
    margin: 3rem 3rem 0rem 3rem;
    padding: 0rem 2rem 0rem 2rem;
}


.column2 {
    flex-basis: 100px;
    flex-grow: 1;
    margin: 0rem 3rem 3rem 3rem;
    padding: 0rem 2rem 2rem 2rem;
}


.farvepalette {


    align-content: right;
    width: 10rem;
    height: 10rem;
}

#grundlaeggende web {
    float: left;
    width: 25%;
}

/*
@media screen and (max-width: 990px) {
    #grundlaeggende web {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    grundlaeggende web {
        width: 100%;
    }
}*/

/*Grundlæggende Web*/

/*Grundlæggende Indhold*/
.parallax2 {
    background-image: url(img/alcohol.jpg);
    width: 100%;
    height: 150px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;

}

#videowrapper {


    display: flex;
    flex-direction: row;
}

.slikpigen {


    margin: 0rem 1rem 0rem 0rem;

}

.virksomhedsvideo {

    margin: 0rem 0rem 0rem 1rem;
}

/*Grundlæggende Indhold*/

/*Grundlæggende Animation*/
.parallax3 {

    background-image: url(img/sexogsamfund.png);
    width: 100%;
    height: 150px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

/*Grundlæggende Animation*/

.parallax4 {

    background-image: url(img/logospl.png);
    width: 100%;
    height: 150px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

/*Grundlæggende Animation*/

.uddculumn {


    flex-basis: 100px;
    flex-grow: 1;
    margin: 1.5rem 0rem 0rem 1.5rem;
    padding: 0rem 2rem 0rem 2rem;

}

.infocomlumn {

    flex-basis: 100px;
    flex-grow: 1;
    margin: 1.5rem 0rem 0rem 1.5rem;
    padding: 0rem 2rem 0rem 2rem;
}

.erhvervcolumn {
    flex-basis: 100px;
    flex-grow: 1;
    margin: 1.5rem 0rem 0rem 1.5rem;
    padding: 0rem 2rem 0rem 2rem;

}

.Ommig {

    flex-basis: 100px;
    flex-grow: 1;
    margin: 1.5rem 0rem 0rem 1.5rem;
    padding: 0rem 2rem 0rem 2rem;
}
